body {
    font-family: Arial, sans-serif;
    background-color: #281434;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    width: 40vh;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.home-link {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

h2 {
    margin-top: 0;
}

.options {
    margin-bottom: 20px;
}

.option-btn {
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.option-btn:last-child {
    margin-right: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}